<table class="large-8 columns">
  <thead>
    <tr>
      <th colspan="3" class="headerGroup"></th>
      <th colspan="3" class="headerGroup">Partidos</th>
      <th colspan="2" class="headerGroup">Goles</th>
      <th colspan="1"></th>
    </tr>
    <tr>
      <th>Equipo</th>
      <th>Pts.</th>
      <th>Dif.</th>
      <th>G</th>
      <th>E</th>
      <th>P</th>
      <th>F</th>
      <th>C</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="team in sortedTeams">
      <td               data-ng-bind="tournament.teams[team]"></td>
      <td align="right" data-ng-bind="stats[team].matches.won * 3 + stats[team].matches.drawn"></td>
      <td align="right" data-ng-bind="stats[team].goals.for_ - stats[team].goals.against | signed"></td>

      <td align="right" data-ng-bind="stats[team].matches.won"></td>
      <td align="right" data-ng-bind="stats[team].matches.drawn"></td>
      <td align="right" data-ng-bind="stats[team].matches.lost"></td>

      <td align="right" data-ng-bind="stats[team].goals.for_"></td>
      <td align="right" data-ng-bind="stats[team].goals.against"></td>
      <td>
        <svg xmlns="http://www.w3.org/2000/svg" width="{{ 10 * nrMatchdays - 2 }}" height="16">
          <g>
            <g data-ng-repeat="m in matchesByTeam[team]">
              <rect x="{{ (m.matchday - 1) * 10 }}" y="0"
                    width="8" height="16"
                    style="fill: hsl({{ boxColorHue[infoFor(team, m).where] }}, 30%, 85%);">
              </rect>
              <rect x="{{ (m.matchday - 1) * 10 }}"
                    y="{{ 15 - infoFor(team, m).pts * 5 }}"
                    width="8" height="{{ 1 + infoFor(team, m).pts * 5 }}"
                    data-ng-show="m.score"
                    style="fill: hsl({{ boxColorHue[infoFor(team, m).where] }}, 90%, 25%);">
              </rect>
            </g>
          </g>
        </svg>
      </td>
      <!-- <td> -->
      <!--   <span data&#45;ng&#45;repeat="m in matchesByTeam[team]">{{ infoFor(team, m).pts }}</span> -->
      <!-- </td> -->
    </tr>
  </tbody>
</table>

