<!-- <table class="large&#45;8 columns"> -->
<table class="">
  <thead>
    <tr>
      <th class="number-cell"></th>
      <th class="text-cell">Equipo</th>
      <th class="number-cell">PJ</th>
      <th class="number-cell">Pts</th>
      <th class="number-cell">Dif</th>
      <th class=""></th>
      <th class="number-cell first-of-group">G</th>
      <th class="number-cell">E</th>
      <th class="number-cell">P</th>
      <th class="number-cell first-of-group">F</th>
      <th class="number-cell">C</th>
      <th class="number-cell first-of-group">Rend</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="team in sortedTeams">
      <td class="number-cell unemphasize" ng-bind="$index + 1"></td>
      <td class="text-cell"               ng-bind="tournament.teams[team]"></td>
      <td class="number-cell unemphasize" ng-bind="stats[team].matches.played()"></td>
      <td class="number-cell"             ng-bind="stats[team].pts()"></td>
      <td class="number-cell"             ng-bind="stats[team].diff() | signed"></td>
      <td class="graph-cell">
        <svg xmlns="http://www.w3.org/2000/svg" ng-attr-width="{{ 10 * nrMatchdays - 2 }}" height="16">
          <g>
            <g ng-repeat="m in matchesByTeam[team]">
              <rect ng-attr-x="{{ (m.matchday - 1) * 10 }}" y="0"
                    width="8" height="16"
                    ng-attr-style="fill: hsl({{ boxColorHue[infoFor(team, m).where] }}, 30%, 85%);">
              </rect>
              <rect ng-attr-x="{{ (m.matchday - 1) * 10 }}"
                    ng-attr-y="{{ 15 - infoFor(team, m).pts * 5 }}"
                    width="8" ng-attr-height="{{ (m.score.length / 2) * (1 + infoFor(team, m).pts * 5) }}"
                    ng-show="m.score"
                    ng-attr-style="fill: hsl({{ boxColorHue[infoFor(team, m).where] }}, 90%, 25%);">
              </rect>
            </g>
          </g>
        </svg>
      </td>

      <td class="number-cell first-of-group" ng-bind="stats[team].matches.won"></td>
      <td class="number-cell"                ng-bind="stats[team].matches.drawn"></td>
      <td class="number-cell"                ng-bind="stats[team].matches.lost"></td>

      <td class="number-cell first-of-group" ng-bind="stats[team].goals.for_"></td>
      <td class="number-cell"                ng-bind="stats[team].goals.against"></td>

      <td class="number-cell first-of-group" ng-bind="stats[team].rend() | percent"></td>
      <!-- <td> -->
      <!--   <span data&#45;ng&#45;repeat="m in matchesByTeam[team]">{{ infoFor(team, m).pts }}</span> -->
      <!-- </td> -->
    </tr>
  </tbody>
</table>

